<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-228876180-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-228876180-1');
    </script>

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>This is the test email</p>
    <a href="https://ga-mail-track.herokuapp.com/?utm_source=newsletter_2&utm_medium=email&utm_campaign=test_email2&utm_id=test_email">Refferal link</a>
    <br>
    <img src=”https://www.google-analytics.com/collect?v=1&tid=UA-228876180-1&cid=555&t=event&ec=emails&ea=open”>
</body>
</html>